body {
    background: linear-gradient(to left, #536976, #292e49);
    font-family: sans-serif;
}

#container {
    margin: 50px;
}

h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

#content {
    height: 600px;
    overflow-x: auto;
}

th {
    color: #ffffff;
    font-size: 18px;
    padding: 15px;
    text-align: left;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.15);
}

td {
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: solid 1px rgba(255, 255, 255, 0.1);
}

.add-button {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 80px 30px 0;
    background-color: rgba(255, 255, 255, 0.15);
}

.add-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.10);
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#searchBar {
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    width: 320px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;

}

::placeholder {
    color: #ffffff;
}

input:focus {
    outline-style: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


